body {
  background-color: #fff9f4;
  font-size: 16px;
}

a {
  color: #d29f4b;
  text-decoration: none;
}

@media only screen and (max-width: 600px) {
  .contact-container {
    width: 80%;
    display: block;
    margin-bottom: 20px;
  }

  .contact-section:last-child {
    padding-top: 20px;
  }

  .contact-container img,
  .contact-div {
    width: 100%;
  }
}

@media screen and (min-width: 2000px) {
  body {
    font-size: 2rem;
  }
}
