body {
  background: url(../photos/interior.JPG) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
}

.index-container {
  margin-top: 15%;
}


.index-navigation {
  display: flex;
  justify-content: center;
  list-style: none;
  opacity: 0.9;
  margin-left: -45px;
}

.index-navigation li a{
  margin: 0 12px;
  color: white;
  background-color: rgb(173, 120, 86);
  text-decoration: none;
  padding: 8px;
  text-transform: uppercase;
}

.index-navigation li a:hover{
  background-color: white;
  color: rgb(173, 120, 86);
}

@media (orientation: portrait) {
  body {
    background: url(../photos/interior_portrait.JPG) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height:100vh;
  }
  
  .index-container {
    margin-top: 35%;
  }
  
  .index-navigation {
    display: block;
  }
  .index-navigation li {
    font-size: 14px;
    margin: 16px 0;
    padding: 3px;
  }
}

