body {
  background: url(../photos/interior.JPG) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
}

h1, h2 {
 color: #F5F5F5; 
}


h2 {
  margin: 50px 0px;
  line-height: 50px;
}

h1 span {
  background-color:rgb(204, 178, 141, 0.9);
  padding: 16px;
  padding-left: 24px;
  border-radius: 8px;
}

h2 span {
  background-color:rgb(235, 223, 206, 0.95);
  color: black;
  padding: 12px;
}

.index-container {
  margin-top: 15%;
}


.index-navigation {
  display: flex;
  justify-content: center;
  list-style: none;
  margin-left: -45px;
}

.index-navigation li a{
  margin: 0 12px;
  color: white;
  background-color: rgb(204, 178, 141, 0.95);
  text-decoration: none;
  padding: 8px;
  border-radius: 4px;
  text-transform: uppercase;
}

.index-navigation li a:hover{
  transition: 200ms ease-in-out;
  background-color: rgb(255,255,255,0.95);
  color: rgb(173, 120, 86);
}

@media (orientation: portrait) {
  body {
    background: url(../photos/interior_portrait.JPG) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /* height:100vh; */
  }
  
  .index-container {
    margin-top: 30%;
  }

  h1 {
    font-size: 30px;
  }
  h3 {
    font-size: 20px;
  }
  
  .index-navigation {
    display: block;
  }
  .index-navigation li {
    font-size: 14px;
    margin: 16px 0;
    padding: 3px;
  }
}

