body {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../photos/interior.JPG) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1,
h2 {
  color: #f5f5f5;
}

h2 {
  margin: 50px 0px;
  line-height: 50px;
}

h1 span {
  padding: 16px;
  padding-left: 24px;
  border-radius: 8px;
}

h2 span {
  color: white;
  padding: 12px;
}

.index-container {
  margin-top: 15%;
}

@media (orientation: portrait) {
  .index-container {
    margin-top: 30%;
  }

  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 20px;
    letter-spacing: 2px;
  }
}
