@import url("https://fonts.googleapis.com/css?family=Open+Sans");

table {
  margin: auto;
}

table td:last-child {
  padding-left: 10px;
}

@media only screen and (max-width: 600px) {
  .location-container {
    width: 80%;
    display: block;
    margin-bottom: 20px;
  }

  .location-section:last-child {
    padding-top: 20px;
  }

  .location-div,
  .location-container img {
    width: 100%;
  }
}

@media screen and (min-width: 2000px) {
  body {
    font-size: 2rem;
  }
}
