body {
  margin-bottom: 20px;
}

h4 {
  color: #d29f4b;
  text-shadow: none;
  text-align: center;
  font-size: 24px;
}

.menu-div {
  width: 50%;
  margin: auto;
  padding: 15px;
  background-color: white;
  border: 1px double #d29f4b;
  margin-top: 200px;
  box-shadow: 4px 4px #ededed;
}

.menu-div img {
  margin-top: -150px;
  height: 300px;
  margin-bottom: 20px;
}

.food {
  margin-top: 8px;
}

.extras,
.desc,
.flavors {
  font-size: 0.8rem;
  color: #6b6b6b;
}

.mobile-only {
  display: none;
}

@media screen and (min-width: 2000px) {
  .menu-container {
    height: 800px;
    font-size: 2rem;
  }

  .food {
    font-size: 1.4rem;
  }
  
  .extras,
  .desc {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 680px) {
  .menu-div {
    width: 85%;
    margin-top: 120px;
  }

  .menu-div img {
    margin-top: -100px;
    height: 200px;
  }
}
