
body {
  margin-bottom: 20px;
}

h4 {
  color: #D29F4B;
  text-shadow: none;
  text-align: center;
  font-size: 24px;
}

.menu-div {
  width: 50%;
  margin: auto;
  padding: 15px;
  background-color: white;
  border:1px double #D29F4B;
  margin-top: 20px;
  box-shadow: 4px 4px #EDEDED;
  
}

.carousel {
  width: 100%;
/*  margin-left: 20%;*/
  display: flex;
}

.carousel img {
  width: 100%;
}

.arrow {
  align-items: center;
  display: flex;
  padding: 10px;
  font-size: 30px;
}

.food {
  margin-top: 8px;
}

.extras, .desc, .flavors {
  font-size: 0.8rem;
  color: #6B6B6B;
}

.mobile-only {
  display: none;
}

@media screen and (min-width: 2000px) {
  .menu-container {
    height: 800px;
    font-size: 2rem;
  }
  
  .extras, .desc {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 680px) {
  .menu-div  {
    width: 90%;
  }
  

  }
  
  
}
