@import url('https://fonts.googleapis.com/css?family=Montserrat');
body {
  text-align: center;
  font-family: Montserrat;
  margin: auto;
  width: 100%;
  color: #454545;
}

.title {
  font-size: 40px;
  margin-bottom: 40px;
  color: #D29F4B;
}

hr {
  width: 100px;
}

.navigation ul {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-content: center;
}

.align-right {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.navigation img {
  width: 150px;
  margin-top: -20px;
}

.navigation {
  width: 100%;
  margin-top: 30px;
}

.navigation a {
  letter-spacing: 2px;
  margin: 60px 28px;
  font-size: 16px;
  text-decoration: none;
  color: black;
  opacity: 0.8;
  text-transform: uppercase;
  padding: 5px;
/*  transition: 300ms ease-in-out;*/
}

.navigation a:hover {
  transition: 100ms ease-out;
  border-bottom: 1px solid #D29F4B;
  color: white;
  background-color: #D29F4B;
}

h1, h3, h4 {
  text-shadow: 1px 1px #9A9A9A;
  margin: 0;
}

h1 {
  font-size: 100px;
  margin-top: 10%;
  letter-spacing: 10px;
}

h3 {
  font-size: 50px;
  letter-spacing: 7px;
}

h4 {
  font-size: 20px;
  letter-spacing: 5px;
}

@media only screen and (max-width: 628px) {
  .navigation ul, .align-right {    
    display: block;
    padding: 0px;
  }
  .navigation li {
    border-radius: 0px;
    margin-top: 5px;
  }
	
	h1 {
		font-size: 50px;
	}
  
  h3 {
    font-size: 30px;
  }
}

@media screen and (min-width: 2000px) {
  .title {
    font-size: 5rem;
  }
  
  .navigation li a{
    font-size: 2rem;
  }
  
  .navigation li img {
    width: 250px;
  }
}
		