@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:wght@800");
body {
  text-align: center;
  font-family: Montserrat;
  margin: auto;
  width: 100%;
  color: #454545;
  background-color: #fff9f4;
}

.title {
  font-size: 40px;
  margin-bottom: 40px;
  color: #d29f4b;
}

hr {
  width: 100px;
}

.navigation ul {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-content: center;
}

.align-right {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.navigation img {
  width: 150px;
  margin-top: -20px;
}

.navigation {
  width: 100%;
  margin-top: 30px;
}

.navigation a {
  letter-spacing: 2px;
  margin: 60px 28px;
  font-size: 16px;
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  padding: 5px;
}

.navigation-white a {
  color: white;
}

.navigation-white img {
  filter: invert(100%);
}

.navigation a:hover {
  transition: 200ms ease-out;
  border-bottom: 1px solid #d29f4b;
  color: white;
  background-color: #d29f4b;
}

h1,
h2,
h3,
h4 {
  text-shadow: 1px 1px #9a9a9a;
  margin: 0;
}

h1 {
  font-size: 75px;
  margin-top: 10%;
  letter-spacing: 10px;
}

h2 {
  font-size: 20px;
  letter-spacing: 7px;
}

h4 {
  font-size: 20px;
  letter-spacing: 5px;
}

.generic-halves-container {
  margin: auto;
  width: 70%;
  display: flex;
  height: 500px;
  border: 1px double #d29f4b;
  box-shadow: 4px 4px #ededed;
}

.generic-halves-container img {
  width: 50%;
  object-fit: cover;
}

.generic-halves-container div {
  width: 50%;
  height: 100%;
  margin: auto;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 628px) {
  .navigation ul,
  .align-right {
    display: block;
    padding: 0px;
  }
  .navigation li {
    border-radius: 0px;
    margin-top: 5px;
  }

  .title {
    font-size: 30px;
  }

  h1 {
    font-size: 50px;
  }

  h2 {
    font-size: 30px;
  }

  .generic-halves-container {
    flex-direction: column;
    align-items: center;
    border: none;
    height: auto;
    box-shadow: none;
  }

  .generic-halves-container div,
  .generic-halves-container img {
    width: 100%;
    /* background-color: #fff9f4; */
    margin-bottom: 10px;
  }

  .generic-halves-container div {
    padding-top: 12px;
    padding-bottom: 12px;
    border: 1px double #d29f4b;
  }

  .generic-halves-container img {
    width: calc(100% + 2px);
  }
}

@media screen and (min-width: 2000px) {
  .title {
    font-size: 5rem;
  }

  .navigation li a {
    font-size: 2rem;
  }

  .navigation li img {
    width: 250px;
  }
}
